
html {
	font-size: 10px;
}

html,
body,
.page {
  height: 100%; /* needed for proper layout */
}

body {
	overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
}

header {
	flex: 0 0 auto;
	height: 5rem;
	background: red;
}

.content {
	flex: 1 1 auto;
  position: relative;
	font-size: 2rem;
	overflow-y: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

footer {
	flex: 0 0 auto;
	height: 5rem;
	background: blue;
}

.left-side-col {
	flex: 0 0 auto;
	width: 100px;
	order: 1;
	background: green;
}

.main {
	order: 2;
	flex: 1;
}

.right-side-col {
	flex: 0 0 auto;
	width: 20%;
	order: 3;
	background: yellow;
}